
.navbar-brand {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

ul.navbar-right {
    li {
        font-weight: 700;
        text-transform: uppercase;
    }
}

// Smaller height for the navbar
.navbar {
    background-color: white;
    margin-bottom: 0;
    padding: 0;
}

#loading-bar-spinner {
  top: 15px;
  left: 15px;
}

#loading-bar .bar {
    height: 1px;
}

#loading-bar-spinner .spinner-icon {
  width: 22px;
  height: 22px;

  border:  solid 1px transparent;
}

.navbar-form .form-control {
    color: #777;
}

.tiny-note {
    font-size: 12px;
}
