
.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #777;
}

.sponsors {
    padding: 40px 0 20px;
    text-align: center;
}

.wiki-text {
    font-size: 18px;
}
