
// Fonts
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,300,500,700);

// Partials
@import 'escomplex-panel';
@import 'eslint-panel';
@import 'navbar';
@import 'search';
@import 'results-common';
@import 'charts';
@import 'graphs/main';

body {
  font-family: 'Montserrat', sans-serif;
}

// Unset the width by font-awesome
.mfb-component__child-icon,
.mfb-component__icon,
.mfb-component__main-icon,
.mfb-component__main-icon--resting,
.mfb-component__main-icon--active {
    width: 100% !important;
}

.mfb-component__button--child,
.mfb-component__button--main {
    color: white;

    &:hover {
        color: white;
    }
}

#toast-container {
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
}

.toaster-panel {
    background-color: #2A2C2B;
}

.form-control {
    background-color: white;
}

.horizontal-spacer-lg {
    height: 70px;
}

.horizontal-spacer-md {
    height: 50px;
}

.horizontal-spacer-sm {
    height: 30px;
}

.horizontal-spacer-xs {
    height: 10px;
}

// Comparison panel
.metric-name {
    margin: 0;
}

.progress {
    background-color: #DDD;
}

.comparison-mirror-progress-left {
    font-weight: bold;
    display: block;
    float: right;
    line-height: 30px;

    .progress-center {
        position: absolute;
        display: block;
        right: 40%;
        font-size: 20px;
        color: white;
    }
}

.comparison-mirror-progress-right {
    font-weight: bold;
    display: block;
    line-height: 30px;

    .progress-center {
        position: absolute;
        display: block;
        width: 100%;
        font-size: 20px;
        color: white;
    }
}

.metric-description {
    color: gray;
}

.section-title {
    font-weight: bold;
    text-transform: uppercase;
}

.ranking-pager {
    margin: 0;
    padding: 10px
}
