
<div class="container">
  <div class="row main-search">
    <br></br>
    <form ng-submit="input.search(input.query, input.version)">
      <input type="text"
             ng-model="input.query"
             id="q-input"
             class="form-control input-lg search-query"
             autofocus
             placeholder="{{ input.description }}">
      </input>
    </form>
  </div>
</div>

<div class="container">

  <div class="col-xs-12 horizontal-spacer-sm"></div>

  <div ui-view="landing" ng-show="$state.includes('main.search.landing')"></div>
  <div ui-view="results" ng-show="$state.includes('main.search.results')"></div>
  <div ui-view="package" ng-show="$state.includes('main.search.package')"></div>

</div>
