

<div class="row">
  <div class="col-md-12" style="min-height: 500px">

    <div class="col-xs-12" style="height:30px;"></div>

    <span class="filter-type"> Select a quality metric </span>

    <ui-select ng-model="ui.summary.metricSelected"
               on-select="onSelectMetricForSummary($select.selected)"
               theme="bootstrap">
      <ui-select-match placeholder="Select a metric...">{{ $select.selected | readable }}</ui-select-match>
      <ui-select-choices repeat="metric in ui.metrics">
        <div ng-bind-html="metric | readable"></div>
      </ui-select-choices>
    </ui-select>

    <div class="col-xs-12" style="height:20px;"></div>

    <span class="filter-type"> Compare with other packages </span>

    <tags-input ng-model="ui.summary.rivals"
                placeholder="Add a package"
                on-tag-added="addPackageToCompare()"
                on-tag-removed="removePackageFromComparison()">
    </tags-input>

  </div>
</div>
