<div class="row" style="margin-top: 50px; margin-bottom: 20px">
  <div class="col-xs-12 text-center" style="padding: 0 50px;">
    <p style="color: gray; line-height: 1.4; font-size: 20px">
      npm-miner combines results from popular static analysis tools,
      in order to provide insights about the software quality on the <a href="https://www.npmjs.com" target="_blank"> npm </a> ecosystem.
    </p>
  </div>
</div>

<div class="row" style="margin-top: 50px; margin-bottom: 20px">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4> Packages analyzed by our services </h4>
      </div>
      <div class="panel-body">
        <div class="col-md-4 text-center">
          <h4>
            <a  href="https://github.com/escomplex/escomplex" target="_blank"> ESCOMPLEX </a>
          </h4>
          <h3 class="overview-value">
            {{ input.dbInfo.escomplex.total | number }} - {{ input.dbInfo.escomplex.percentage }}%
          </h3>
        </div>
        <div class="col-md-4 text-center">
          <h4>
            <a href="https://github.com/eslint/eslint" target="_blank"> ESLINT </a>
          </h4>
          <h3 class="overview-value">
            {{ input.dbInfo.eslint.total | number }} - {{ input.dbInfo.eslint.percentage }}%
          </h3>
        </div>
        <div class="col-md-4 text-center">
          <h4>
            <a href="https://github.com/danielstjules/jsinspect" target="_blank"> JSINSPECT </a>
          </h4>
          <h3 class="overview-value">
            {{ input.dbInfo.jsinspect.total | number }} - {{ input.dbInfo.jsinspect.percentage }}%
          </h3>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12" style="margin-bottom: 20px">
    <h2 class="text-center"> Rankings </h2>
    <p class="text-center" style="font-size: 16px"> Top 50 packages with the highest values. </p>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 uib-tooltip="{{ input.tooltips.maintainability }}" tooltip-class="info-tooltip">
          Maintainability
        </h4>
      </div>
      <div class="panel-body" style="padding: 0">
        <ul class="list-group" style="margin: 0">
          <li class="list-group-item" ng-repeat="pkg in input.rankings.maintainability.active">
            <span class="pull-right"> {{ pkg.value }}</span>
            {{ input.rankings.maintainability.current * 10 + $index + 1 }}.
            <a style="cursor: pointer" ng-click="input.goToPackage(pkg.name)"> {{ pkg.name }} </a>
          </li>
        </ul>
      </div>
      <div class="panel-footer" style="margin: 0; padding: 0">
        <div class="text-center">
          <nav>
            <ul class="pager ranking-pager">
              <li>
                <a href="#" ng-click="input.showPreviousRow('maintainability')"> Previous </a>
              </li>
              <li>
                <a href="#" ng-click="input.showNextRow('maintainability')"> Next </a>
              </li>
            </ul>
          </nav>
      </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 uib-tooltip="{{ input.tooltips.pageRank }}" tooltip-class="info-tooltip">
          PageRank
        </h4>
      </div>
      <div class="panel-body" style="padding: 0">
        <ul class="list-group" style="margin: 0">
          <li class="list-group-item" ng-repeat="pkg in input.rankings.pageRank.active">
            <span class="pull-right"> {{ pkg.value }}</span>
            {{ input.rankings.pageRank.current * 10 + $index + 1 }}.
            <a style="cursor: pointer" ng-click="input.goToPackage(pkg.name)"> {{ pkg.name }} </a>
          </li>
        </ul>
      </div>
      <div class="panel-footer" style="margin: 0; padding: 0">
        <div class="text-center">
          <nav>
            <ul class="pager ranking-pager">
              <li>
                <a href="#" ng-click="input.showPreviousRow('pageRank')"> Previous </a>
              </li>
              <li>
                <a href="#" ng-click="input.showNextRow('pageRank')"> Next </a>
              </li>
            </ul>
          </nav>
      </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 uib-tooltip="{{ input.tooltips.cyclomatic }}" tooltip-class="info-tooltip">
            Cyclomatic Complexity
        </h4>
      </div>
      <div class="panel-body" style="padding: 0">
        <ul class="list-group" style="margin: 0">
          <li class="list-group-item" ng-repeat="pkg in input.rankings.cyclomatic.active">
            <span class="pull-right"> {{ pkg.value }} </span>
            {{ input.rankings.cyclomatic.current * 10 + $index + 1 }}.
            <a style="cursor: pointer" ng-click="input.goToPackage(pkg.name)"> {{ pkg.name }} </a>
          </li>
        </ul>
      </div>
      <div class="panel-footer" style="margin: 0; padding: 0">
        <div class="text-center">
          <nav>
            <ul class="pager ranking-pager">
              <li>
                <a href="#" ng-click="input.showPreviousRow('cyclomatic')"> Previous </a>
              </li>
              <li>
                <a href="#" ng-click="input.showNextRow('cyclomatic')"> Next </a>
              </li>
            </ul>
          </nav>
      </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12" style="margin-bottom: 20px">
    <h2 class="text-center">  Metric Distribution  </h2>
    <p class="text-center" style="font-size: 16px"> Histograms of some popular metrics, extracted from all the packages. </p>
  </div>
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="pull-left" style="width: 350px">
          <ui-select ng-model="input.histogram.metric" on-select="input.onHistogramSelectMetric($select.selected)">
            <ui-select-match placeholder="Choose a graph metric..."> {{ $select.selected | readable }} </ui-select-match>
            <ui-select-choices repeat="metric in input.histogram.metrics" >
              <div ng-bind-html="metric | readable"></div>
            </ui-select-choices>
          </ui-select>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="panel-body" style="min-height: 500px; padding: 0">
            <line-chart
              type="'column'"
              zoom-type="'x'"
              data="input.histogram.plot.frequency"
              labels="input.histogram.plot.values"
              plot-options="input.histogram.plot.options"
              plotlines="input.histogram.plot.plotlines"
              title="input.histogram.plot.title">
            </line-chart>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
