

<div class="container-fluid">
  <div class="row">
    <!--LeftSide-->
    <div class="col-md-6">
      <!--Control Buttons-->
      <div class="row">
        <!--Side menu button-->
        <div class="col-md-4">
          <div class="button-section">
            <button type="button" class="btn btn-default">
              <span class="fa fa-cog"></span>
            </button>
          </div>
        </div>
        <!--Main buttons-->
        <div class="col-md-6">
          <div class="button-section">
            <div class="btn-group control-buttons" role="group" aria-label="...">
              <button type="button" class="btn btn-default" ng-click="graphs.clearEditor()">
                clear <span class="fa fa-remove"></span>
              </button>
              <button type="button" class="btn btn-default" ng-click="graphs.executeScript()">
                run <span class="fa fa-play"></span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <!--Gremlin Editor-->
      <div class="row">
        <div class="col-md-12">
          <gremlin-editor options="graphs.editorOptions" on-change="graphs.onEditorChange"> </gremlin-editor>
        </div>
      </div>
    </div>

    <!--RightSide-->
    <div class="col-md-6">
      <!--Control Buttons-->
      <div class="row">
        <div class="col-md-offset-4 col-md-4">
          <div class="button-section">
            <div class="btn-group control-buttons" role="group">
              <button type="button" class="btn btn-default">
                clear <span class="fa fa-remove"></span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <!--Results viewer-->
      <div class="row">
        <div class="col-md-12">
          <query-results results="graphs.queryResults"> </query-results>
        </div>
      </div>
    </div>
  </div>
</div>

